@helper Submit(string textoBotao, string classe)
{ 

    <input value="@textoBotao" class="@classe" type="submit"/>

}

@helper Message(object mensagem)
{
    if (mensagem != null)
    {
        <div class="alert alert-info">@mensagem</div>
    }
}