@model List<_05.Fiap.Web.MVC.Models.Bar>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Menores</th>
            <th>Cidade</th>
        </tr>
    </thead>

    @foreach (var bar in Model)
    {
        <tr>
            <td>@bar.Nome</td>
            <td>@bar.Descricao</td>
            <td>@(bar.Menores?"Aceita menores" : "Proibido menores")</td>
            <td>@bar.Cidade</td>
        </tr>
    }

</table>

