@model Fiap08.Web.MVC.Models.Responsavel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(r => r.Nome)
        @Html.TextBoxFor(r => r.Nome)
    </div>

}
