@model JogosOnlineV2.Models.Genero

@{
    ViewBag.Title = "Cadastrar Genero";
}

<h2>Cadastrar Gênero</h2>

@MyHelper.Message(TempData["msg"])

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(g => g.Nome)
        @Html.TextBoxFor(g => g.Nome, new {@class = "form-control" })
    </div>

    @MyHelper.Submit("Cadastrar", "btn btn-primary")
}